* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url(https://images.unsplash.com/photo-1591625677777-ae053aef58ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHVycGxlJTIwY2xvdWRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-x: hidden;
}

#navbar {
	background-color: mediumpurple;
}

#navdropdown ul li:hover {
	background: #f1e8e6;
	color:  #361d32;
	transition: all 0.5s;
	border-radius: 100px;
	transform: rotate(360deg);
}

section #landingpage {
	background-image: url(./images/ian.jpg);
	background-size: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}

#header1 h1 {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
}

h1 span {
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: bolder;
}

p span {
	font-size: 20px;
	margin-left: 7rem;
	margin-right: 7rem;
	font-weight: bold;
}

#about_header h1 {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}

#about_par {
	font-size: 18.5px;
}

#gallery {
	background-color: mediumpurple;
}

#carousel_title h1 {
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}

#contact {
	background-color: #F6C042;
	font-weight: bolder;
}

#message_sec {
	font-family: 'Roboto', sans-serif;
}

#footer_icons a:hover {
	transition: all 0.7s;
	border-radius: 100px;
	transform: rotate(360deg);
}