* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url(https://images.unsplash.com/photo-1591625677777-ae053aef58ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHVycGxlJTIwY2xvdWRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-x: hidden;
}

#navbar {
	background-color: mediumpurple;
}

#navdropdown ul li:hover {
	background: #f1e8e6;
	color:  #361d32;
	transition: all 0.3s;
	border-radius: 100px;
}

#landingpage {
	background-color: mediumpurple;
}

#gallery {
	background-color: mediumpurple;
}

#message_sec {
	background-color: #F6C042;
}